# Script to split Enade dataset

In [1]:
import pandas as pd
import os

In [2]:
os.chdir('C:/Users/99836932/Downloads')

In [3]:
data = pd.read_csv('enade_exatas.csv')
print(len(data))
print(data.columns)
data.sample(5, random_state = 43)

C:\Users\99836932\AppData\Local\Temp\ipykernel_10384\3180954196.py:1: DtypeWarning: Columns (4,12) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('enade_exatas.csv')

906133
Index(['Unnamed: 0', 'ano', 'NO_CINE_AREA_ESPECIFICA', 'NO_CINE_ROTULO',
       'modalidade', 'regiao', 'sexo', 'cor_pele', 'idade', 'renda_familiar',
       'sit_financeira', 'sit_trabalho', 'acao_afirmativa', 'livros_lidos_ano',
       'nota_geral', 'nt_formacao_geral', 'nt_comp_esp'],
      dtype='object')

,Unnamed: 0,ano,NO_CINE_AREA_ESPECIFICA,NO_CINE_ROTULO,modalidade,regiao,sexo,cor_pele,idade,renda_familiar,sit_financeira,sit_trabalho,acao_afirmativa,livros_lidos_ano,nota_geral,nt_formacao_geral,nt_comp_esp
317739,317739,2019,Arquitetura e construção,Engenharia civil,Presencial,Nordeste,Masculino,Branco,25,"De 1,5 a 3 SM","Tenho renda, mas recebo ajuda da família ou de...",Trabalhei eventualmente,Não usei,No máximo dois,46.4,48.000000,45.8
456868,456868,2010,Engenharia e profissões correlatas,Gestão ambiental,NaN,Sul,Masculino,NaN,45,NaN,NaN,NaN,NaN,NaN,15.2,0.000000,20.2
248522,248522,2014,Computação e Tecnologias da Informação e Comun...,Sistemas de informação,Presencial,Sul,Masculino,Indígena,25,"De 1,5 a 3 SM","Tenho renda, mas recebo ajuda da família ou de...",Trabalhei em tempo integral (40h ou mais),Não usei,Entre seis e oito,24.8,22.500000,25.5
80549,80549,2005,Computação e Tecnologias da Informação e Comun...,Sistemas de informação,NaN,Sudeste,Masculino,Branco,21,Até 3 SM,Tenho renda e não preciso de ajuda para financ...,Trabalhei em tempo integral (40h ou mais),NaN,No máximo dois,49.5,77.900002,40.0
506476,506476,2017,Arquitetura e construção,Arquitetura e urbanismo,Presencial,Sudeste,Feminino,Branco,25,De 6 a 10 SM,"Tenho renda, mas recebo ajuda da família ou de...",Trabalhei até 20 horas semanais,Não usei,Entre três e cinco,50.9,64.000000,46.5

In [4]:
# Number of rows by new datasets
906133/10*9

815519.7000000001

In [5]:
# Datasets
df1 = data[:90613].drop('Unnamed: 0', axis=1)
df2 = data[90613:181226].drop('Unnamed: 0', axis=1)
df3 = data[181226:271839].drop('Unnamed: 0', axis=1)
df4 = data[271839:362453].drop('Unnamed: 0', axis=1)

df5 = data[362453:453066].drop('Unnamed: 0', axis=1)
df6 = data[453066:543679].drop('Unnamed: 0', axis=1)
df7 = data[543679:634293].drop('Unnamed: 0', axis=1)
df8 = data[634293:724906].drop('Unnamed: 0', axis=1)
df9 = data[724906:815519].drop('Unnamed: 0', axis=1)
df10 = data[815519:].drop('Unnamed: 0', axis=1)

df10.tail(5)

,ano,NO_CINE_AREA_ESPECIFICA,NO_CINE_ROTULO,modalidade,regiao,sexo,cor_pele,idade,renda_familiar,sit_financeira,sit_trabalho,acao_afirmativa,livros_lidos_ano,nota_geral,nt_formacao_geral,nt_comp_esp
906128,2017,Arquitetura e construção,Engenharia civil,Presencial,Norte,Feminino,Pardo,22,"Até 1,5 SM","Tenho renda, mas recebo ajuda da família ou de...",Nunca trabalhei,Não usei,No máximo dois,46.2,91.6,31.1
906129,2017,Arquitetura e construção,Engenharia civil,Presencial,Norte,Masculino,Branco,22,De 6 a 10 SM,Tenho renda e contribuo com o sustento da família,Nunca trabalhei,Não usei,No máximo dois,46.2,49.0,45.3
906130,2017,Arquitetura e construção,Engenharia civil,Presencial,Norte,Feminino,Pardo,23,De 3 a 6 SM,Não tenho renda e meus gastos são financiados ...,Nunca trabalhei,Não usei,No máximo dois,54.3,65.5,50.5
906131,2017,Produção e processamento,Engenharia de produção,Presencial,Norte,Feminino,Pardo,21,De 3 a 6 SM,"Tenho renda, mas recebo ajuda da família ou de...",Trabalhei em tempo integral (40h ou mais),Não usei,Nenhum,26.9,15.0,30.9
906132,2017,Produção e processamento,Engenharia de produção,Presencial,Norte,Feminino,Negro,23,"Até 1,5 SM",Não tenho renda e meus gastos são financiados ...,Trabalhei eventualmente,Critério de renda,Entre seis e oito,33.7,50.7,28.0

In [6]:
# Write csv files
os.chdir('C:/Users/99836932/Downloads/enade_data')
df1.to_csv('enade_1of10.csv', index = False)
df2.to_csv('enade_2of10.csv', index = False)
df3.to_csv('enade_3of10.csv', index = False)
df4.to_csv('enade_4of10.csv', index = False)
df5.to_csv('enade_5of10.csv', index = False)
df6.to_csv('enade_6of10.csv', index = False)
df7.to_csv('enade_7of10.csv', index = False)
df8.to_csv('enade_8of10.csv', index = False)
df9.to_csv('enade_9of10.csv', index = False)
df10.to_csv('enade_10of10.csv', index = False)